<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-icon class="home-icon" routerLink="">home</mat-icon>
  <span class="example-spacer"></span>
  <div class="nav-items">

    <a href="#" *ngIf="logged">Logout</a>
    <a href="#" routerLink="products" *ngIf="logged">Products</a>
    <a href="#" routerLink="shopping-card" *ngIf="logged">Shopping Basket
      <mat-icon class="home-icon" routerLink="shopping-card">shopping_basket</mat-icon><span *ngIf="quantity > 0">{{quantity}}</span>
    </a>
  </div>

</mat-toolbar>